* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.about p {
    margin-bottom: 50px;
}

.about-content {
    display: flex;
    max-width: 1000px;
    gap: 30px;
}

.img {
    width: 500px;
    height: 400px;
    border-radius: 15px;
    display: none;
    object-fit: cover;
    object-position: center;
}

/*hide*/
.img.active {
    display: block;
}

.about-info {
    width: 500px;
    background-color: rgb(233, 228, 228);
    border-radius: 15px;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
    background-color: antiquewhite;
}

.tabs-btn {
    background: transparent;
    border: none;
    font-size: 25px;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
}

.tabs-btn.active {
    background-color: red;
}

.tabs-content {
    width: 100%;
}

.tabs-content-inner {
    font-size: 30px;
    display: none;
}

.tabs-content-inner.active {
    display: block;
}